<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>축구 매칭 목록 - 우리들의 축구 매칭</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
    />
    <link rel="stylesheet" type="text/css" href="css/list.css" />
  </head>
  <body>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
      integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY="
      crossorigin="anonymous"
    />

    <div class="container">
      <!-- Header -->
      <div class="fixed-top">
        <nav
          class="navbar navbar-expand-lg navbar-dark mx-background-top-linear"
        >
          <div class="container">
            <a
              class="navbar-brand"
              href="index"
              style="text-transform: uppercase"
              ><img
                src="img/uchugmae_logo.png"
                style="width: 200px; height: auto"
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarResponsive"
              aria-controls="navbarResponsive"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#"
                    >방 만들기
                    <span class="sr-only">(current)</span>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">팀 관리</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">석광우님</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="career-search mb-60">
            <form action="#" class="career-form mb-60">
              <div class="row">
                <div class="col-md-6 col-lg-3 my-3">
                  <div class="input-group position-relative">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="상대팀명 검색"
                      id="keywords"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 my-3">
                  <div class="select-container">
                    <select class="custom-select">
                      <option selected="">지역</option>
                      <option value="1">서울</option>
                      <option value="2">수원</option>
                      <option value="3">인천</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 my-3">
                  <div class="select-container">
                    <select class="custom-select">
                      <option selected="">경기 종류</option>
                      <option value="1">축구</option>
                      <option value="2">풋살</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 my-3">
                  <button
                    type="button"
                    class="btn btn-lg btn-block btn-light btn-custom"
                    id="contact-submit"
                  >
                    검색
                  </button>
                </div>
              </div>
            </form>

            <div class="filter-result">
              <p class="mb-30 ff-montserrat">총 경기 수 : 89</p>

              <div
                class="job-box d-md-flex align-items-center justify-content-between mb-30"
              >
                <div
                  class="job-left my-4 d-md-flex align-items-center flex-wrap"
                >
                  <div
                    class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex"
                  >
                    <img
                      src="img/emblem/daechugoal.jpeg"
                      style="width: 64px; height: 64px; border-radius: 65px"
                    />
                  </div>
                  <div class="job-content">
                    <h5 class="text-center text-md-left mt-2 mb-4">
                      블랑FC VS 대추골FC
                    </h5>
                    <ul
                      class="d-md-flex flex-wrap text-capitalize ff-open-sans pl-3"
                    >
                      <li class="mr-md-4">
                        <i class="zmdi zmdi-pin mr-2"></i> 수원 여기산공원
                        경기장
                      </li>
                      <li class="mr-md-4">
                        <i class="zmdi zmdi-star-half mr-2"></i> 실력 : 상상
                      </li>
                      <li class="mr-md-4">
                        <i class="zmdi zmdi-time mr-2"></i> 2022. 8. 13 17:30 ~
                        19:30
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="job-right my-4 flex-shrink-0">
                  <a
                    href="#"
                    class="btn d-block w-100 d-sm-inline-block btn-outline-primary"
                    >인원 관리</a
                  >
                </div>
              </div>

              <div
                class="job-box d-md-flex align-items-center justify-content-between mb-30"
              >
                <div
                  class="job-left my-4 d-md-flex align-items-center flex-wrap"
                >
                  <div
                    class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex"
                  >
                    <img
                      src="img/emblem/kkulma.jpeg"
                      style="width: 64px; height: 64px; border-radius: 65px"
                    />
                  </div>
                  <div class="job-content">
                    <h5 class="text-center text-md-left mt-2 mb-4">
                      블랑FC VS 꿀마FC
                    </h5>
                    <ul
                      class="d-md-flex flex-wrap text-capitalize ff-open-sans pl-3"
                    >
                      <li class="mr-md-4">
                        <i class="zmdi zmdi-pin mr-2"></i> 수원 월드컵보조경기장
                      </li>
                      <li class="mr-md-4">
                        <i class="zmdi zmdi-star-half mr-2"></i> 실력 : 중하
                      </li>
                      <li class="mr-md-4">
                        <i class="zmdi zmdi-time mr-2"></i> 2022. 8. 6 22:30 ~
                        01:30
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="job-right my-4 flex-shrink-0">
                  <a
                    href="#"
                    class="btn d-block w-100 d-sm-inline-block btn-outline-primary"
                    >인원 관리</a
                  >
                </div>
              </div>

              <div
                class="job-box d-md-flex align-items-center justify-content-between mb-30"
              >
                <div
                  class="job-left my-4 d-md-flex align-items-center flex-wrap"
                >
                  <div
                    class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex"
                  >
                    <img
                      src="img/emblem/loyal.png"
                      style="width: 64px; height: 64px; border-radius: 65px"
                    />
                  </div>
                  <div class="job-content">
                    <h5 class="text-center text-md-left mt-2 mb-4">
                      블랑FC VS 로얄FC
                    </h5>
                    <ul
                      class="d-md-flex flex-wrap text-capitalize ff-open-sans pl-3"
                    >
                      <li class="mr-md-4">
                        <i class="zmdi zmdi-pin mr-2"></i> 수원 솔대구장
                      </li>
                      <li class="mr-md-4">
                        <i class="zmdi zmdi-star-half mr-2"></i> 실력 : 중상
                      </li>
                      <li class="mr-md-4">
                        <i class="zmdi zmdi-time mr-2"></i> 2022. 8. 5 19:00 ~
                        22:00
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="job-right my-4 flex-shrink-0">
                  <a
                    href="#"
                    class="btn d-block w-100 d-sm-inline-block btn-outline-primary"
                    >인원 관리</a
                  >
                </div>
              </div>

              <div
                class="job-box d-md-flex align-items-center justify-content-between mb-30"
              >
                <div
                  class="job-left my-4 d-md-flex align-items-center flex-wrap"
                >
                  <div
                    class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex"
                  >
                    <img
                      src="img/emblem/bisang.png"
                      style="width: 64px; height: 64px; border-radius: 65px"
                    />
                  </div>
                  <div class="job-content">
                    <h5 class="text-center text-md-left mt-2 mb-4">
                      블랑FC VS 비상FC
                    </h5>
                    <ul
                      class="d-md-flex flex-wrap text-capitalize ff-open-sans pl-3"
                    >
                      <li class="mr-md-4">
                        <i class="zmdi zmdi-pin mr-2"></i> 수원 칠보체육관
                      </li>
                      <li class="mr-md-4">
                        <i class="zmdi zmdi-star-half mr-2"></i> 실력 : 상
                      </li>
                      <li class="mr-md-4">
                        <i class="zmdi zmdi-time mr-2"></i> 2022. 7. 30 20:00 ~
                        22:00
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="job-right my-4 flex-shrink-0">
                  <a
                    href="#"
                    class="btn d-block w-100 d-sm-inline-block btn-secondary disabled"
                    >경기 종료</a
                  >
                </div>
              </div>

              <div
                class="job-box d-md-flex align-items-center justify-content-between mb-30"
              >
                <div
                  class="job-left my-4 d-md-flex align-items-center flex-wrap"
                >
                  <div
                    class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex"
                  >
                    <img
                      src="img/emblem/jallo.png"
                      style="width: 64px; height: 64px; border-radius: 65px"
                    />
                  </div>
                  <div class="job-content">
                    <h5 class="text-center text-md-left mt-2 mb-4">
                      블랑FC VS 잘로FC
                    </h5>
                    <ul
                      class="d-md-flex flex-wrap text-capitalize ff-open-sans pl-3"
                    >
                      <li class="mr-md-4">
                        <i class="zmdi zmdi-pin mr-2"></i> 수원 월드컵보조경기장
                      </li>
                      <li class="mr-md-4">
                        <i class="zmdi zmdi-star-half mr-2"></i> 실력 : 중상
                      </li>
                      <li class="mr-md-4">
                        <i class="zmdi zmdi-time mr-2"></i> 2022. 7. 22 20:00 ~
                        23:00
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="job-right my-4 flex-shrink-0">
                  <a
                    href="#"
                    class="btn d-block w-100 d-sm-inline-block btn-secondary disabled"
                    >경기 종료</a
                  >
                </div>
              </div>
            </div>
          </div>

          <!-- START Pagination -->
          <nav aria-label="Page navigation">
            <ul class="pagination pagination-reset justify-content-center">
              <li class="page-item disabled">
                <a
                  class="page-link"
                  href="#"
                  tabindex="-1"
                  aria-disabled="true"
                >
                  <i class="zmdi zmdi-long-arrow-left"></i>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item d-none d-md-inline-block">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item d-none d-md-inline-block">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item"><a class="page-link" href="#">6</a></li>
              <li class="page-item">
                <a class="page-link" href="#">
                  <i class="zmdi zmdi-long-arrow-right"></i>
                </a>
              </li>
            </ul>
          </nav>
          <!-- END Pagination -->
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-lg-4 footer-about wow fadeInUp">
              <img
                class="logo-footer"
                src="img/uchugmae_logo.png"
                alt="logo-footer"
                data-at2x="img/uchugmae_logo.png"
                style="width: 200px; height: auto"
              />
              <p>
                We are a young company always looking for new and creative ideas
                to help you with our products in your everyday work.
              </p>
              <p><a href="#">Our Team</a></p>
            </div>
            <div
              class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown"
            >
              <h3>Contact</h3>
              <p>
                <i class="fas fa-map-marker-alt"></i> Via Rossini 10, 10136
                Turin Italy
              </p>
              <p><i class="fas fa-phone"></i> Phone: (0039) 333 12 68 347</p>
              <p>
                <i class="fas fa-envelope"></i> Email:
                <a href="mailto:hello@domain.com">hello@domain.com</a>
              </p>
              <p><i class="fab fa-skype"></i> Skype: you_online</p>
            </div>
            <div class="col-md-4 col-lg-3 footer-social wow fadeInUp">
              <h3>Follow us</h3>
              <p>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-5 footer-copyright">
              <p>
                &copy; Bootstrap Footer Template by
                <a href="https://azmind.com">AZMIND</a>
              </p>
            </div>
            <div class="col-md-7 footer-menu">
              <nav class="navbar-f navbar-dark navbar-expand-md">
                <button
                  class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarNav"
                  aria-controls="navbarNav"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link-f scroll-link" href="#top-content"
                        >Top</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link-f scroll-link" href="#section-1"
                        >Section 1</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link-f scroll-link" href="#section-2"
                        >Section 2</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link-f scroll-link" href="#section-3"
                        >Section 3</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link-f scroll-link" href="#section-4"
                        >Section 4</a
                      >
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.scrollex.min.js"></script>
    <script src="js/jquery.scrolly.min.js"></script>
    <script src="js/browser.min.js"></script>
    <script src="js/breakpoints.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
